$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

/* colors */
$active-link-tablet-color: #68B738;
$active-link-desktop-color: #ffffff;
$white-color: #ffffff;
$header-bg-color: #68b738d9;
$button-color: #68B738;
$text-color: #000000;
$description-color: #444444;
$weight-color: #F2F2F2;
$line-color: #D9D9D9;
